local perks = require(workspace.ServerStuff.Statistics["CLASS_STATISTICS"])["trapper"].basestats
local perk = require(workspace.ServerStuff.Statistics["CLASS_STATISTICS"])["trapper"]
if perks then
    perk.name = "teo the loli"
    perk.desc = "ready to fight until the end?"
    perk.pros = { "Def/Movement","No morale/exhaust","Increased ammo scavage","immune to some debuffs" }
    perk.cons = { "You know that Sledge Queen's Onlyfans is now a thing " }
   perk.activename = "Hoga Asumis Pets"
   perk.activedetails = "the Hoga Asumis Pets will seek and threats in a range that can cripple them making them weaker"
    perks.atkmod = -19
    perks.defmod = 30 -- damage mod "-" means more damage you take and no that means less damage idk just scew around idk 
    perks.stammod =  -25
    perks.shovemod = -25 
    perks.lightatkspeed = -25 
     perks.heavyatkspeed = -60 
     perks.recoilmod = 75
     perks.accmod = 75 
     perks.reloadmod = 155 
     perks.noaimmod = false -- do not make true or you can't aim anymore in the game so yeah :D
     perks.scavmod = 400 -- uhh dont put this up too high
     perks.mvtmod = 15
     explosive_resist = true
     perks.cripple_immune = true
     perks.frac_immune = true 
     perks.nomorale = true 
     perk["activestats"].tickexplosionradius = 40
     perk["activestats"].tickwoundintensity = 500 --doesnt work i give up eh
     perk["activestats"].tickslowduration = 18
     perk["activestats"].ticktimetodet = 0.8
     perk["activestats"].tickseekrange = 45
     perk["activestats"].tickthrow = 10
     perk["activestats"].maxticks = 25
     perk["activestats"].tickarmtime = 1
     perk["activestats"].cooldown = 103
     perk["activestats"].activeend = 1.5
end

-- Made by "usonohibana" Dm me about any issues this is an old script so yeah.
--And also PLEASE CHOOSE TICKSPIDER FIRST THEN AFTER EXECUTING THE SCRIPT MOVE TO ANOTHER PERK THEN GO BACK TO TICKSPIDER
